agate==1.7.1
aiohttp==3.9.1
aiosignal==1.3.1
altair==5.2.0
appdirs==1.4.4
asn1crypto==1.5.1
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.2.0
Babel==2.14.0
backcall==0.2.0
backoff==2.2.1
black==23.12.1
blinker==1.7.0
Bottleneck==1.3.7
brotlipy==0.7.0
bump2version==1.0.1
bumpversion==0.6.0
cachetools==5.3.2
certifi==2023.11.17
cffi==1.16.0
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==2.2.1
colorama==0.4.6
comm==0.2.1
contourpy
copier==6.0.0
cryptography==41.0.7
cycler==0.12.1
db-dtypes==1.2.0
dbt-core==1.6.9
dbt_coves==1.6.26
dbt-extractor==0.4.1
dbt-metricflow==0.3.0
dbt-semantic-interfaces==0.2.3
dbt-snowflake==1.6.6
debugpy==1.8.0
decorator==5.1.1
diff_cover==8.0.3
distlib==0.3.8
docopt==0.6.2
dunamai==1.19.0
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.2.0
executing==2.0.1
fastjsonschema==2.19.1
filelock==3.13.1
findspark==2.0.1
flit_core==3.9.0
fonttools==4.47.2
frozenlist==1.4.1
gitdb==4.0.11
GitPython==3.1.41
graphviz==0.20.1
greenlet==3.0.3
halo==0.0.31
hologram==0.0.16
identify==2.5.33
idna==3.6
importlib-metadata==6.11.0
importlib-resources==6.1.1
iniconfig==2.0.0
ipykernel==6.29.0
ipython
ipywidgets==8.1.1
isodate==0.6.1
isort==5.13.2
iteration-utilities==0.12.0
jaraco.classes==3.3.0
jedi==0.19.1
Jinja2==3.1.3
jinja2-ansible-filters==1.3.2
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter_client==8.6.0
jupyter_core==5.7.1
jupyterlab-widgets==3.0.9
keyring==24.3.0
kiwisolver==1.4.5
leather==0.3.4
log-symbols==0.0.14
Logbook==1.5.3
luddite==1.0.3
markdown-it-py==3.0.0
MarkupSafe==2.0.1
mashumaro==3.8.1
matplotlib
matplotlib-inline
mdurl==0.1.2
metricflow==0.202.0
minimal-snowplow-tracker==0.0.2
mixpanel==4.10.0
monotonic==1.6
more-itertools==8.14.0
msgpack==1.0.7
multidict==6.0.4
munkres==1.1.4
mypy-extensions==1.0.0
nbformat==5.9.2
nest-asyncio==1.6.0
networkx
nodeenv==1.8.0
numexpr
numpy
openpyxl==3.1.2
oscrypto==1.3.0
packaging==23.2
pandas==1.5.3
parsedatetime==2.6
parso==0.8.3
pathspec==0.11.2
pickleshare==0.7.5
pigar==2.1.1
pillow==10.2.0
pip==23.3.2
pipdeptree==2.13.2
pipreqs==0.4.13
pkgutil_resolve_name==1.3.10
platformdirs==3.11.0
pluggy==1.4.0
plumbum==1.8.2
pre-commit
pretty-errors==1.2.25
prompt-toolkit==3.0.43
protobuf==4.25.2
psutil==5.9.8
psycopg2-binary==2.9.9
pure-eval==0.2.2
pyarrow==15.0.0
pycparser==2.21
pycryptodomex==3.20.0
pydantic==1.10.14
pydeck==0.8.0
pyfiglet==0.8.post1
Pygments==2.17.2
PyJWT==2.8.0
Pympler==1.0.1
pyOpenSSL==23.3.0
pyparsing==3.1.1
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
PyQtChart==5.15.6
PyQtChart-Qt5==5.15.2
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
pyrsistent==0.20.0
PySocks==1.7.1
pytest==7.4.4
python-dateutil==2.8.2
python-dotenv==1.0.1
python-slugify==8.0.1
pytimeparse==1.1.8
pytz==2023.3.post1
PyYAML==6.0.1
pyyaml-include==1.3.2
pyzmq==25.1.2
questionary==1.10.0
rapidfuzz==3.6.1
referencing==0.32.1
regex==2023.12.25
requests==2.31.0
rich==13.7.0
rpds-py==0.17.1
ruamel.yaml==0.17.40
ruamel.yaml.clib==0.2.8
rudder-sdk-python==1.0.6
setuptools==65.5.0
six==1.16.0
smmap==5.0.1
snowflake-connector-python==3.6.0
snowflake-snowpark-python==1.11.1
snowflake-sqlalchemy==1.5.1
snowpark-extensions==0.0.37
sortedcontainers==2.4.0
spinners==0.0.24
SQLAlchemy==1.4.51
sqlfluff==2.3.5
sqlparse==0.4.4
stack-data==0.6.3
streamlit==1.30.0
tabulate==0.9.0
tblib==3.0.0
tenacity==8.2.3
termcolor==2.4.0
text-unidecode==1.3
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.3
toolz==0.12.1
tornado==6.4
tqdm==4.66.1
traitlets==5.14.1
typing_extensions==4.9.0
tzdata==2023.4
tzlocal==5.2
update-checker==0.18.0
urllib3==1.26.18
validators==0.22.0
virtualenv==20.25.0
watchdog==3.0.0
wcwidth==0.2.13
wheel==0.42.0
widgetsnbextension==4.0.9
win-inet-pton==1.1.0
wincertstore==0.2
yamlloader==1.3.2
yarg==0.1.9
yarl==1.9.4
zipp==3.17.0